body {
  background: #f9f9f9;
}

.nav-bar {
  background: #000000;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.card-image {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: #333333;
}

.carousel-items {
  height: 40vh;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*='carousel-items'] {
    height: 30vh;
  }

  [class*='search-btn'] {
    margin-top: 10px;
  }
}

.sticky-footer {
  flex-shrink: none;
  background: #000000;
  color: #ffffff;
}
